<div class="row py-5">
  <div class="col-lg-4 mx-auto">
    <h1 class="text-center">Simple Forum</h1>
    <p class="text-center">A simple forum website built with Hotwire.</p>
  </div>
  <div class="my-5 ">
    <p class="text-center text-muted">
      <i>To access the platform you need to create an account</i>
    </p>
    <div class="d-flex justify-content-center">
      <%= link_to "Get started", new_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>